.choixClient{
	padding-top: 50px;
}

.choixClient input{
	width:100px;
	margin-top: 50px;
}


.formulaire{
	width: 800px;
	padding-top:50px;
	text-align: center;
}
.formulaire input{
	margin-top: 10px;
}

.formulaire textArea{
	margin-top:10px;	
}

.formulaire h2{
	margin-bottom: 10px;

}
.icon{
	margin-left:5px;
}

