/* ---------------------------------------------------
 *					                                  *
 *    Projet synthèse : H2013		                  *
 *    Fait Par : 	Nicolas Waucheul			      *
 *					Marc Paquin                   	  *
 *--------------------------------------------------- */


.login{
	width:20%;
	margin-top: 200px;
	padding: 30px;
	border-style:solid;
	border-radius: 5px;
	border-width: 5px;
	
}

.login input{
	margin-left: 45px;
	margin-bottom: 20px;
}

.login input:last-child{
	margin-left: 95px;
	margin-bottom: 0px;
}

#intro{
	margin: 20px;
}

#intro h1{
	margin: 20px; 
}

#intro span{
	color:red;
}

.client{
	border-style: dotted;
	border-width: 1px;
}

.bouton{

	background-color: #FF9999;
}

.resume{
	width: 40%;
	height:50%;
	background-color: #CCF4FB;
	margin: 20px;
<<<<<<< HEAD
	border-radius: 5px;
=======
>>>>>>> 3e0434b5850d97714b3aa51e570cf5802bcd2d1d
}
.prix{
	color:red;

<<<<<<< HEAD
}

.table{
	border-style: solid;
	border-width: 1px;
	background-color: #CCF4FB;
}
.tableResume{
	border-style: solid;
	border-width: 1px;
	background-color: #FF9999;
	text-align: center;
}

table th{
	border-style: solid;
	border-width: 1px;
}

table td{
	border-style: solid;
	border-width: 1px;
}

.important{
	color:red;
	font-weight: bold;
}
.form{
	text-align: left;
	width:50%;
	margin-right: 20px;
}
.commentaire{
	width: 30%;
	float: right;
}
.input{
	width:50%;
	float:right;
	margin-top: -5px;
}
.label{
	float:left;
	width:50%;
}
form div label{
	display: block;
	margin-bottom: 11px;
}

#profil{
	margin-top: 20px;
	background-color: #CCF4FB;
	width: 40%;

	margin:auto;
	margin-top:20px;
}

.boutonProfil{
	color:#FF9999;
}
.center{
	margin: auto;
}
#margin{
	margin-top: 10px;
	margin-bottom: 0px;
}
.consulter{
	border-style: solid;
	border-width: 1px;
}
.consulter label{
	display: inline;
}
.consulter input{
	display: inline;
=======
>>>>>>> 3e0434b5850d97714b3aa51e570cf5802bcd2d1d
}