/* ---------------------------------------------------
 *					                                  *
 *    Projet synthèse : H2013		                  *
 *    Fait Par : 	Nicolas Waucheul			      *
 *					Marc Paquin                   	  *
 *--------------------------------------------------- */


.choixFacture{
	padding-top: 50px;
}

.choixFacture input{
	width:150px;
	margin-top: 50px;
}


.formulaire input{
	margin-top: 10px;
}

.formulaire textArea{
	margin-top:10px;	
}

.icon{
	margin-left:5px;
}