/* ---------------------------------------------------
 *					                                  *
 *    Projet synthèse : H2013		                  *
 *    Fait Par : 	Nicolas Waucheul			      *
 *					Marc Paquin                   	  *
 *--------------------------------------------------- */


*{
	padding:0px;
	margin:0px;
}

ul{
	list-style: none;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

.ib{
  display : inline-block;
}
.block{
	display:block;
}
.left{
  float : left;
}
.right {
  float : right;
}
.middle{
	vertical-align : middle;
}
.clear{
	clear:both;
}
.auto{
	margin: auto;
}


.header {
	
  	padding: 20px;
  	text-align:center;
  	border-bottom-style: solid;
	border-width: 1px;
}

.titre{
	margin-top:40px;
	margin-left: 30px;
}

.navigation{
	margin-top:40px;
}
.navigation li{
	display:inline;
	margin-left:10px;
	cursor: pointer;
}

.container{
	width:1200px;
	margin: 0 auto;
	height: 470px;
	min-width: 1200px;
	text-align: center;
	border-bottom-style: solid;
	border-width: 1px;

}

